extends ../layouts/base
block head
  title About Turnusol
block content
  h1 About Turnusol
  p Easy to use embedded framework. It will evolve through our needs.
    Currently tested on:
    ul
        li Raspberry Pi
        li Pandaboard ES
  h2 Fork it!
  iframe(src="http://ghbtns.com/github-btn.html?user=vertexclique&repo=turnusol&type=fork&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20")
  h2 Watch it!
  iframe(src="http://ghbtns.com/github-btn.html?user=vertexclique&repo=turnusol&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20")

  h2 And Follow me!
  iframe(src="http://ghbtns.com/github-btn.html?user=vertexclique&type=follow&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="200" height="20")