extends ../layouts/base
block head
  title Examples
block content
  h1 Examples

  h2 Raspberry Pi Examples
  h3 Blinking Led with HCS (Hot Code Swap)
  p Turnusol framework hot code swap Raspberry Pi demonstration
  iframe(width="854" height="510" src="//www.youtube.com/embed/UNWx_qwa3xo" frameborder="0" allowfullscreen)
